*{
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body{
  height: 100%;
}
body{
  background-color: #546377;
}
.side-menu{
  width: 300px;
  height: 100%;
  background: linear-gradient(0deg, #3381b0,#c2196c);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-sizing: border-box;
  box-shadow: 5px 0px 10px hsla(240, 40%, 15% ,.6);
  position: relative;
  transform: translateX(-100%);
  transition: .3s;
}

.side-menu label{
  position: absolute;
  width: 40px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  right:-40px;
  top:0;
  bottom:0;
  margin:auto;
  text-align: center;
  font-size: 30px;
  border-radius: 0 10px 10px 0;
}
#side-menu-switch{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
#side-menu-switch:checked + .side-menu {
  transform: translate(0);
}
#side-menu-switch:checked + .side-menu label i{
  transform: scaleX(-1);
}
.nav a{
  display: block;
  padding: 10px;
  color:#fff;
  text-decoration: none;
  position: relative;
}
.nav li + li a::before {
  border-top: 1px solid rgba(255,255,255,.4);
  content:'';
  position: absolute;
  left: 10px;
  right:10px;
  top:0;
}
.nav a i {
  margin-right: -1.1em;
  transform: scale(0);
  transition: .3s;
}
.nav a:hover i{
  margin-right: .5em;
  transform: scale(1);
}
.side-menu input{
  width: 230px;
}
.side-menu button{
  width: 30px;
  cursor: pointer;
}
::placeholder{
  color:#fff
}
.side-menu input,.side-menu button{
  border:none;
  padding: 5px 10px; 
  background-color: transparent;
  color: #fff;
}
.side-menu input:focus,.side-menu button:focus{
  outline: none;
}
.side-menu form{
  display: flex;
  margin: 0 10px 50px;
  border-radius: 100px;
  border :1px solid rgba(255,255,255,.4);
}

/* 顯示新的 ul */
.nav li{
  position: relative;
}
.nav ul{
  position: absolute;
  top: 6px;;
  left:100%;
  width: 300px;
  background-color: rgba(255,255,255,.2);
  box-shadow: 5px 0px 10px hsla(240, 40%, 15% ,.6);
  display: none;
}

/* 當第一層的 li 被 hover 時，才會顯示下一層的 ul　*/
.nav li:hover > ul{
  display: block;
}

/* 使用 『>』 選取器讓所有下層的 a 連結都發生改變 */
.nav li:hover > a{
  background-color: rgba(0,0,0,0.3);
}

/* li 被 hover 時，收合 icon 出現轉向效果　*/
.nav li:hover i{
  margin-right: .5em;
  transform: scale(1);
}